/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #E5CE96;
    position: relative;
    min-height: 40px;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;
}

/* Style navigation menu links */
.topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    font-weight: bold;
}

.topnav .user-info {
    color: black;
    background-color: #e2c06f;
    font-weight: bold;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
    background: #e2c06f;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

.topnav a:hover {
    background-color: #f1daa3;
}

.webview-container {
    padding: 0px 15px 20px;
    background-color: #ece2c9;
    min-height: 800px;
}

.topic-list .topic-area {
    margin-bottom: 15px;
    border: 1px solid;
    background-color: #f39c12;
}

.topic-list .topic-area .image-area {
    background-color: white;
    min-height: 120px;
    padding: 15px;
}

.topic-list .topic-area .discription-area {
    font-size: 15px;
    padding-top: 5px;
}

.topic-list .topic-area .title {
    font-weight: bold;
    padding: 0;
}

.topic-list .topic-area .score {
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.topic-list .topic-area .time {
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.topic-list .topic-area .created {
    font-weight: bold;
    padding: 0;
    margin: 10px 0 0;
}

.topic-list .topic-area .image-area img {
    width: 100%;
}

.user-info-screen .user-info-area {
    font-size: 15px;
    padding-top: 20px;
}